/*Container*/
.container {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    border: rgb(4, 3, 3) solid 10px;
}

/*Navigation bar*/
.main-nav{
    display: flex;
    padding-right: 20px;
    background-color: rgb(119, 150, 197);
    align-items: center;
}
.nav-item {
    list-style: none;
    margin-bottom: 50px;
}
.nav-item a {
    text-decoration: none;
}

.nav-item:hover{
    transform: scale(1.2);
}

/*Main content*/
.main-content {
    display: flex;
    flex: 1;
    flex-direction:column;
    padding-top: 25px;
    background-image: url(../docs/backgroundimage.jpeg);
    overflow: auto;
    

}


.myexperience{        
    font-size: 40px;    
    color: rgb(122, 24, 24);     
    text-align: center;     
    box-shadow: 0 0 20px 0  blue;           
}

.exp1{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
    padding-top: 100px;
}

.exp1content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
    transition: 0.5s;
    animation: ease-in;
}
.pdficon{
    padding-top: 25px;
    image-orientation: horizontal;
    height: 100px; 
}

.resume-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-top: 150px;
     padding-left: 45%;
     padding-bottom: 35px;
    }
.resume-heading{
    font-size: 20px;
    font-weight: bold;
}    


.exp1pic {

    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;       
}

.exp1pic1 {
    height: 150px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0  blue; 
}

.exp1pic1:hover {
    transform: scale(1.1);
}

.navigatetop{
    padding-left: 1100px;
    padding-bottom: 50px;
    font-size: 25px;
}
/*Media Screen for Mobile devices*/
@media screen and (max-width: 768px) and (min-width: 300px) {
    .main-nav {
      display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: rgb(4, 3, 3) solid 10px;
 
    }
  
    .main-content {
      display: flex;
      flex: 1;
      flex-direction:column;
      padding-top: 25px;
      padding-bottom: 700px;
      overflow: auto;
      background-image: url(../docs/backgroundimage.jpeg);
     
  }
    .exp1pic1 {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        box-shadow: 0 0 20px 0  blue; 
}
.resume-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 150px;
    padding-left: 35%;
    padding-bottom: 35px;
   }
   .navigatetop{
    padding-left: 200px;
    padding-bottom: 50px;
    font-size: 25px;
}
}    


/*Media screen tablet*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
    .main-nav {
      display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: rgb(4, 3, 3) solid 10px;
    }
  
    .main-content {
      display: flex;
      flex: 1;
      flex-direction:column;
      padding-top: 25px;
      padding-bottom: 700px;
      height: 100%;      
      background-image: url(../docs/backgroundimage.jpeg);
     
  }
    .exp1pic1 {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        box-shadow: 0 0 20px 0  blue; 
}
.resume-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 150px;        
   }
   .navigatetop{
    padding-left: 750px;
    padding-bottom: 50px;
    font-size: 25px;
}
}  
  
  /*Media screen for desktop*/
  @media screen and (min-width: 1200px) {
    .navbar {
      display: none;
    }
  }