/*Container*/
.container {
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;
    border: rgb(4, 3, 3) solid 10px;
}
/*Navigation Bar*/
.main-nav{
    display: flex;
    padding-right: 20px;
    background-color:rgb(119, 150, 197);;
    align-items: center;
}
.nav-item {
    list-style: none;
    margin-bottom: 50px;
}
.nav-item a {
    text-decoration: none;
}

.nav-item:hover{
    transform: scale(1.2);
}
/*Main content*/
.main-content {
    display: flex;
    flex: 1;
    flex-direction:column;    
    overflow: auto;
    background-image: url(../docs/backgroundimage.jpeg);

}

.myprojects{        
    font-size: 40px;
    color: rgb(122, 24, 24);  
    text-align: center; 
    box-shadow: 0 0 20px 0  blue; 
}

.project1placeholder{
  margin: 30px;
  padding: 15px;
}

.project2placeholder{
  margin: 30px;
  padding: 15px;
}

.project3placeholder{
  margin: 30px;
  padding: 15px;
}

.project1{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
    padding-bottom: 20px;

}

.project1content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.project2{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    
    
}

.project2content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.project3{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
}

.project3content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

.prjimg{
    height: 100px;
    width: 100px;
}
.prjimg1{
    height: 100px;
    width: 200px;
}
.prjimg2{
    height: 100px;
    width: 100px;
}      
.project-images {
display: flex;
flex-direction: row;
align-self: center;

}

.prjimg:hover{
  transform: scale(1.2);
}

.prjimg1:hover{
  transform: scale(1.2);
}

.prjimg2:hover{
  transform: scale(1.2);
}



.mySlides{

  display: flex;
  flex-direction: column;  
  box-shadow: 0 0 20px 0  blue; 
  padding-top: 30px;
  transition: 0.5s;
  animation: ease-in;
  
}
.projectimage1{
    
  border-radius: 1px;
  padding: 5px;
  width: 100px;
  
  }


/*Media screen for Mobile */
@media screen and (max-width: 768px) and (min-width: 300px) {
  .main-nav {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: rgb(4, 3, 3) solid 10px;
    height: 100%;    
    max-width: 1920px;
    width: 100%;      
}

  .main-content {
    display: flex;
    flex: 1;
    flex-direction:column;
    overflow: auto;  
    background-image: url(../docs/backgroundimage.jpeg);
    
}
.project-images {
  display: flex;
  align-self: center;
  
  
  }

}

/*Media screen for tablets*/
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .main-nav {
    display: none;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-self: center;
    border: rgb(4, 3, 3) solid 10px;
    height: 100%;    
    max-width: 1920px;
    width: 100%;      
}
  .main-content {
    display: flex;
    flex: 1;
    flex-direction:column;
    overflow: auto;
    background-image: url(../docs/backgroundimage.jpeg);
    
}
.project-images {
  display: flex;
 align-self: center; 
  
  }

}
/*Media Screen for desktop*/
@media screen and (min-width: 1200px) {
  .navbar {
    display: none;
  }
}



  

