.container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: rgb(4, 3, 3) solid 10px;
}
.main-nav{
    display: flex;
    padding-right: 20px;
    background-color: rgb(119, 150, 197);
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-bottom: 50px;
}

.nav-item a {
    text-decoration: none;
}


.nav-item:hover{
    transform: scale(1.2);
}


.main-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: 100%;
    /*background-color: rgba(120, 181, 208, 0.756);*/
    background-image: url(../Images/backgroundimage.jpeg);    
}
.link-item {
    text-decoration: none;
}
.image {
    border-radius: 50%;    
    box-shadow: 0 0 20px 0  blue;        
}
.detail1{  
    font-size: 30px;
    /* line-height: 30px;  */
    color: rgb(122, 24, 24);  
    padding-top: 20px    ;
    padding-bottom: 10px;
    /* text-align: center;    */
}
.detail2{
    font-size: 20px;
    padding-bottom: 10px;

    /* line-height: 20px;           */
    color: brown;                       
    /* text-align: center; */
}
.detail3{
    font-size: 20px;
    padding-bottom: 10px;

    /* line-height: 20px; */
    color: brown;
    /* text-align: center; */
}

.intro{
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;

}

.contact-links{
    display: flex;    
    padding-top: 5rem;    
}

.github {

    height: 50px;
}

.linkedin {

    height: 45px;
}

.github-link {
    padding-right: 15px;
}

.github-link:hover {
    transform: scale(1.5);
}

.linkedin-link:hover {
    transform: scale(1.5);
}

@media screen and (max-width: 1000px) {
    .main-nav {
      display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: rgb(4, 3, 3) solid 10px;
    }

    .main-section {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 500px;
        /*background-color: rgba(120, 181, 208, 0.756);*/
        background-image: url(../Images/backgroundimage.jpeg);    
    }
  }

@media screen and (max-width: 1000px) {
    .main-nav {
      display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: rgb(4, 3, 3) solid 10px;
    }

    .main-section {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 320px;
        /*background-color: rgba(120, 181, 208, 0.756);*/
        background-image: url(../Images/backgroundimage.jpeg);    
    }
    .intro{
        display:flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 200px;

    }
  }


  @media screen and (min-width: 1000px) {
    .navbar {
      display: none;
    }
  }



