/*Body Container*/
.container {
    display: flex;
    flex-direction: row ;
    justify-content: flex-start;
    border: rgb(4, 3, 3) solid 10px;
}

/*Navigation Bar*/
.main-nav{
    display: flex;
    padding-right: 20px;
    background-color: rgb(119, 150, 197);
    align-items: center;
}

.nav-item {
    list-style: none;
    margin-bottom: 50px;
}

.nav-item a {
    text-decoration: none;
}


.nav-item:hover{
    transform: scale(1.2);
}

/*Main Section*/
.main-section {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    background-image: url(../Images/backgroundimage.jpeg);    
}

.intro{
    display:flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 120px;

}
.link-item {
    text-decoration: none;
}

.image {
    border-radius: 50%; 
    height: 250px;   
    width: 210px;
    box-shadow: 0 0 20px 0  blue;            
}
.detail1{  
    font-size: 30px;    
    color: rgb(122, 24, 24);  
    padding-top: 20px    ;
    padding-bottom: 10px;    
}
.detail2{
    font-size: 20px;
    padding-bottom: 10px;    
    color: brown;                           
}
.detail3{
    font-size: 20px;
    padding-bottom: 10px;    
    color: brown;
    
}

/*Contact Icons Styling*/
.contact-links{
    display: flex;    
    padding-top: 5rem;    
}

.github {

    height: 50px;
}

.linkedin {

    height: 45px;
}

.github-link {
    padding-right: 15px;
}

.github-link:hover {
    transform: scale(1.5);
}

.linkedin-link:hover {
    transform: scale(1.5);
}

footer {
    position: relative;
    height: 300px;
    width: 100%;
}

p.copyright {
    position: absolute;
    width: 100%;
    color: black;
    line-height: 40px;
    font-size: 1em;
    text-align: center;
    bottom:0;
}

/*Media Screen Styling*/
/*Mobile Screen */
@media screen and (max-width: 1000px) {
    .main-nav {
      display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: rgb(4, 3, 3) solid 10px;
    }
    .main-section {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 500px;        
        background-image: url(../Images/backgroundimage.jpeg);    
    }
  }

/*Tablets Screen*/
@media screen and (max-width: 1000px) {
    .main-nav {
      display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: rgb(4, 3, 3) solid 10px;        
    }
/*Desktop screen*/
    .main-section {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding-top: 320px;        
        background-image: url(../Images/backgroundimage.jpeg);    
    }
    .intro{
        display:flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 200px;

    }
    footer {
        display: none;
    }
  }


  @media screen and (min-width: 1000px) {
    .navbar {
      display: none;
    }
  }



