
/*Container*/
.container {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    border: rgb(4, 3, 3) solid 10px;
}

/*Navigation Bar*/
.main-nav{
    display: flex;
    padding-right: 20px;
    background-color: rgb(119, 150, 197);
    align-items: center;
}
.nav-item {
    list-style: none;
    margin-bottom: 50px;
}
.nav-item a {
    text-decoration: none;
}

.nav-item:hover{
    transform: scale(1.2);
}
/*Main Content*/
.main-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-top: 25px;
    background-image: url(../Images/backgroundimage.jpeg);
    overflow: auto;

}
.baking-container {
    margin: 30px;
    display: inline-block;
    width: 10rem;
    height: 10rem;        
    background-image: url("../Images/interestsbaking1.jpeg");
    background-position: center center;
    animation: baking-slides  10s linear infinite;
    border-radius: 50%;    
    box-shadow: 0 0 20px 0  blue; 
}
.baking-container:hover { 
 transform: scale(1.2);
}
/*Animation Transitions*/
@keyframes baking-slides {

    from {
        background: url("../images/interestsbaking1.jpeg");
        background-size: cover;
        background-position: center center;
    }
    33% {
        background: url("../images/interestsbaking2.jpeg");
        background-size: cover;
        background-position: center center;
    }
    66% {
        background: url("../images/interestsbaking3.jpeg");
        background-size: cover;
        background-position: center center;
    }
    to {
        background: url("../images/interestsbaking1.jpeg");
        background-size: cover;
        background-position: center center;
    }
    
}
 
.photography-container{
    display: inline-block;
    margin: 30px;
    width: 10rem;
    height: 10rem;        
    background-image: url("../images/photography1.jpeg");
    background-position: center center;
    animation: photography-slides  10s linear infinite;
    border-radius: 50%;    
    box-shadow: 0 0 20px 0  blue; 
}

.photography-container:hover { 
    transform: scale(1.2);
   }

   /*Animation Transitions*/
@keyframes photography-slides {

    from {
        background: url("../images/photography1.jpeg");
        background-size: cover;
        background-position: center center;
    }
    33% {
        background: url("../images/photography2.jpeg");
        background-size: cover;
        background-position: center center;
    }
    66% {
        background: url("../images/photography3.jpeg");
        background-size: cover;
        background-position: center center;
    }
    to {
        background: url("../images/photography1.jpeg");
        background-size: cover;
        background-position: center center;
    }
    
}

.travel-container {
    margin: 30px;
    display: inline-block;
    width: 10rem;
    height: 10rem;        
    background-image: url("../images/travel1.jpeg");
    background-position: center center;
    animation: travel-slides  10s linear infinite;
    border-radius: 50%;    
    box-shadow: 0 0 20px 0  blue; 
}

.travel-container:hover {

    transform: scale(1.2);
}

/*Animation Transitions*/
@keyframes travel-slides {

    from {
        background: url("../images/travel1.jpeg");
        background-size: cover;
        background-position: center center;
    }
    33% {
        background: url("../images/travel2.jpeg");
        background-size: cover;
        background-position: center center;
    }
    66% {
        background: url("../images/travel3.jpeg");
        background-size: cover;
        background-position: center center;
    }
    to {
        background: url("../images/travel1.jpeg");
        background-size: cover;
        background-position: center center;
    }
    
}


.detail1{  
    font-size: 40px;
    color: rgb(122, 24, 24);  
    text-align: center;    
    box-shadow: 0 0 20px 0  blue; 
}
.detail2{
    /* font-size: 20px; */
    padding: 30px;

    /* line-height: 20px;  */
    color: black;                       
    text-align: left; 
    font-size: 20px;
}
.detail3{    
    padding-top: 50px;
    color: brown;
    text-align: center;
}

.interests {
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-left: 300px;
    
}
.interests-title {
    text-align: center;
    color: brown;
    font-size: 22px;    
}

/*Media Screen For desktop*/
@media screen and (max-width: 1000px) {
    .main-nav {
      display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: rgb(4, 3, 3) solid 10px;
    }
  
    .main-content {
      display: flex;
      flex: 1;
      flex-direction:column;
      padding-top: 25px;
      padding-bottom: 700px;
      overflow: auto;
      background-image: url(../Images/backgroundimage.jpeg);
  }
  .detail3{
    text-align: left;
    padding-left: 50px;
  }
  .interests {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
  }
  .interests-title{
    text-align: left;
    padding-left: 50px;
  }
  
  }

/*Media Screen for Tablets*/
  @media screen and (min-width:700px) and (max-width: 1000px)  {
    .main-nav {
      display: none;
    }
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border: rgb(4, 3, 3) solid 10px;
    }
  
    .main-content {
      display: flex;
      flex: 1;
      flex-direction:column;
      padding-top: 25px;
      padding-bottom: 700px;
      overflow: auto;
      background-image: url(../Images/backgroundimage.jpeg);
  }
  .detail3{
    text-align: left;
    padding-left: 350px;
  }
  .interests {
    display: flex;
    flex-direction: row;
    padding-left: 100px;
  }
  .interests-title{
    text-align: left;
    padding-left: 50px;
  }
  
  }
  @media screen and (min-width: 1000px) {
    .navbar {
      display: none;
    }
  }


 