.container {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    border: rgb(4, 3, 3) solid 10px;
}
.main-nav{
    display: flex;
    padding-right: 20px;
    background-color: rgb(119, 150, 197);
    align-items: center;
}
.nav-item {
    list-style: none;
    margin-bottom: 50px;
}
.nav-item a {
    text-decoration: none;
}
.nav-item:hover{
    transform: scale(1.2);
}

.main-content {
    display: flex;
    flex: 1;
    flex-direction:column;
    padding-top: 25px;
    background-image: url(../Images/backgroundimage.jpeg);
    overflow: auto;

}


.blog{        
    font-size: 40px;
    color: rgb(122, 24, 24);  
    text-align: center;        
    box-shadow: 0 0 20px 0  blue; 
}

.blog1{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 135px;      
}

.blog1content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.blog2{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    
}

.blog2content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    
}

.blog3{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
}

.blog3content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
}
.blog4{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
}

.blog4content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
}
.blog4{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
}
.blog5content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
}
.blog5{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
}
.blog1-placeholder {

    display: flex;
    flex-direction: row;
    height: 500px;
    width: 500px;
    padding-left: 420px;
    padding-top: 50px;

}
.date-published-blog1 {
    padding-left: 135px;
}
.date-published-blog2 {
    padding-left: 30px;
}
.date-published-blog3 {
    padding-left: 30px;
}
.date-published-blog4 {
    padding-left: 30px;
}
.date-published-blog5 {
    padding-left: 30px;
}


.otherblogs-placeholder {
    display: flex;
    flex-direction: row;
    padding-top: 50px;
}

.blog1-image{

    border-radius: 8px;
    border: 10px;
    padding-left: 150px;    
    width: 150px;
}
.blog2-image{

    border-radius: 8px;
    border: 10px;
    padding-left: 50px;    
    width: 150px;
}
.blog3-image{

    border-radius: 8px;
    border: 10px;
    padding-left: 50px;    
    width: 150px;
}
.blog4-image{

    border-radius: 8px;
    border: 10px;
    padding-left: 50px;    
    width: 150px;
}
.blog5-image{

    border-radius: 8px;
    border: 10px;
    padding-left: 50px;    
    width: 150px;
}
#more {display: none;}
#more1 {display: none;}
#more2 {display: none;}
#more3 {display: none;}
#more4 {display: none;}

