.container {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    border: rgb(4, 3, 3) solid 10px;
}
.main-nav{
    display: flex;
    padding-right: 20px;
    background-color: rgb(119, 150, 197);
    align-items: center;
}
.nav-item {
    list-style: none;
    margin-bottom: 50px;
}
.nav-item a {
    text-decoration: none;
}

.nav-item:hover{
    transform: scale(1.2);
}

.main-content {
    display: flex;
    flex: 1;
    flex-direction:column;
    /* justify-content: center; */
    /*align-items: center;*/
    background-image: url(../Images/backgroundimage.jpeg);
    overflow: auto;

}




.myexperience{        
    font-size: 30px;
    /* line-height: 30px;  */
    color: rgb(122, 24, 24);  
    /* padding-bottom: 300px; */
    text-align: center; 
    padding-bottom: 70px;   
}

.exp1{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
}

.exp1content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.exp2{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 50px;
    
}

.exp2content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;    
}

.exp3{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
    padding-top: 50px;
}

.exp3content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
}

.pdficon{
    padding-top: 25px;
    image-orientation: horizontal;
    height: 100px; 
}

.resume-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     padding-top: 150px;
     padding-left: 45%;
     padding-bottom: 35px;
    }
.resume-heading{
    font-size: 20px;
    font-weight: bold;
}    


.exp1pic {

    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;       


}

.exp2pic {

    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;    


}
.exp3pic {

    display: flex;
    justify-content: center;
    padding-left: 100px;
    padding-right: 100px;    


}

.exp1pic1 {
    height: 150px;
    width: 250px;
    border-radius: 50%;
}

.exp1pic1:hover {
    transform: scale(1.1);
}

.exp2pic1 {
    height: 150px;
    width: 250px;
    border-radius: 50%;    
}

.exp2pic1:hover {
    transform: scale(1.1);
}


.exp3pic1 {
    height: 150px;
    width: 250px;
    border-radius: 50%;
}

.exp3pic1:hover {
    transform: scale(1.1);
}


