.container {
    display: flex;
    flex-direction: row wrap;
    justify-content: flex-start;
    border: rgb(4, 3, 3) solid 10px;
}
.main-nav{
    display: flex;
    padding-right: 20px;
    background-color:rgb(119, 150, 197);;
    align-items: center;
}
.nav-item {
    list-style: none;
    margin-bottom: 50px;
}
.nav-item a {
    text-decoration: none;
}

.nav-item:hover{
    transform: scale(1.2);
}

.main-content {
    display: flex;
    flex: 1;
    flex-direction:column;
    padding-top: 25px;
    overflow: auto;
    background-image: url(../Images/backgroundimage.jpeg);

}

.myprojects{        
    font-size: 40px;
    color: rgb(122, 24, 24);  
    text-align: center; 
    box-shadow: 0 0 20px 0  blue; 
}

.project1placeholder{
  margin: 4rem;
  padding: 25px;
}

.project2placeholder{
  margin: 4rem;
  padding: 25px;
}

.project3placeholder{
  margin: 4rem;
  padding: 25px;
}

.project1{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
    padding-bottom: 20px;
}

.project1content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.project2{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    
    
}

.project2content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

.project3{
    font-size: 25px;
    font-weight: bold;
    align-items: baseline;
    padding-left: 30px;
}

.project3content{
    font-size: 20px;
    align-items: baseline;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  
.mySlides{

  display: flex;
  flex-direction: column;  
  box-shadow: 0 0 20px 0  blue; 
  padding-top: 30px;
}


@media screen and (max-width: 1000px) {
  .main-nav {
    display: none;
  }
  .container {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      border: rgb(4, 3, 3) solid 10px;
  }

  .main-content {
    display: flex;
    flex: 1;
    flex-direction:column;
    padding-top: 25px;
    padding-bottom: 700px;
    overflow: auto;
    background-image: url(../Images/backgroundimage.jpeg);
}

}
@media screen and (min-width: 1000px) {
  .navbar {
    display: none;
  }
}



  

